*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    
}

#sec-1{
    height: 650px;
    width: 35%;
}

img[src="code.jpg"]{
    height: 100%;
    width: 100%;
}

img[src="logo.jpg"]{
    height: 80px;
    width: 80px;
    border-radius: 25px;
    opacity: 1;

    
}

#logo-div{
    width: 100%;
    height: 15%;
    display: flex;
    background-color: rgba(18, 18, 19, 0.5);
    position: relative;
    bottom:490px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color:aquamarine;
    
}

/***************************************/

/*style section-2 div*/

#sec-2{
    background-color: antiquewhite;
    width: 65%;
    height: 450px;
    border: 4px solid green;
}

